streamlit
python-dotenv
pandas
langchain
langchain-core
langchain-sarvam
sarvamai
pydantic
scikit-learn
chromadb
pytest
langchain
langchain-chroma
langchain-huggingface
sentence-transformers
requests
sarvam
tiktoken
faiss-cpu
protobuf
sentence-transformers
torchvision
langchain-community